@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Lora:400,400i,700|Ultra');

/*============================================================================*/

/*------------------------------------------------------------------Whole Page*/

html {
  min-height: 100%;
  position: relative;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;

}

.container {
  max-width: 1024px;
}

.main-section {
  padding-top: 50px;
}

.btn {
background-color: #F5F5F5;
}


/*----------------------------------------------------------------------Colors*/

html,
body {
  background-color: #E1F5FE;
}

.bg-news {
  background-color: #E1F5FE;
}


/*============================================================================*/

/*----------------------------------------------------------------------Header*/

.top-menu {
  -webkit-box-shadow: 0 6px 4px -4px #999;
  -moz-box-shadow: 0 6px 4px -4px #999;
  box-shadow: 0 6px 4px -4px #999;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  position: relative;
  z-index: 1;
  height: 140%;
  filter: drop-shadow(0px 0px 6px rgba(58, 136, 164, 0.9));
}

.nav-item {
  border-left: 1px solid #CCCCCC;
  position: relative;
  z-index: 0;
}

.btn-right-border {
  border-right: 1px solid #CCCCCC;
}

#navbar1 {
  text-align: right;
  font-weight: 100;
  font-size: 14px;
  color: #3A88A4;
}

#navbar1 > ul > li.nav-item.active > a {
  position: relative;
  z-index: 0;
}

.navbar-header > a {
  animation-delay: .5s;
}

#navbar1 > ul > li > ul > li > a {
  text-align: right;
  font-weight: 200;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
  background-color: #E7E7E7;
  color: black;
}

#navbar1 > ul > li > .hvr-overline-reveal:before {
  background: #6fb8d5;
}

#navbar1 > ul > li > a {
  color: #005b75;
}

/*----------------------------------------------------------------------Footer*/

.footer {
  -webkit-box-shadow: 10px 10px 8px 10px #999;
  -moz-box-shadow: 10px 10px 8px 10px #999;
  box-shadow: 10px 10px 8px 10px #999;
  font-weight: 400;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 80px;
  background-color: #F5F5F5;
  margin-bottom: 0px;
}

.footer-block {
  margin: 20px 0;
}

.footer-right {
  text-align: center;
}

.footer-left {
  padding-top: 5px;
}

.social-links {
  font-size: 1.5em;
}

.footer-right > ul > li > a,
.footer-left > ul > li > a {
  text-decoration: none;
  color: #3A88A4;
}

.footer-right > ul,
.footer-left > ul {
  margin-bottom: 0px;
}


/*============================================================================*/

/*-------------------------------------------------------------------Home Page*/

body > main {
  padding: 0;
  margin: 0;
}

body > main > .home-splash1 {
  background: url("assets/images/home-splash1-square.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 400px;
  padding: 0px;
}

body > main > .home-splash2 {
  background: url("assets/images/monkees-live.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
  padding: 0;
}

body > main > .home-splash3 {
  background: url("assets/images/home-splash2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
  padding: 0;
}

.main-page-content > h1, .home-section-two > h1, .home-section-three > h1 {
  font-family: "Ultra", sans-serif;
  font-size: 4em;
  text-align: center;
  padding-bottom: 50px;
}

body > main > .home-section-one, body > main > .home-section-two, body > main > .home-section-three {
  padding-top: 100px;
  padding-bottom: 100px;
}



/*------------------------------------------------------------------------News*/

.main-section.news-section {
  min-height: 100vh;
}

.news-section p {
  font-family: "Lora", sans-serif;
}

.news-heading > h1 {
  font-family: "Ultra", sans-serif;
  font-weight: 700;
  font-size: 4em;
}


.news-divider {
  background-color: #5472d3;
  text-align: center;
  height: 2px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.news-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

/*-----------------------------------------------------------------Discography*/

.disc-page {
  padding-left: 0px;
  padding-right: 0px;
}

.cd-cover {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: auto;
}


/*----------------------------------------------------------------------Events*/

.events-section {
  padding-top: 70px;
}
.current-events {
  background-color: #E1F5FE;
  padding-top: 25px;
}
.current-events > h1 {
  font-family: "Ultra", sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.8em;
}

.table-title {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

.event-name {
  text-align: center;
}
.event-loc {
  text-align: right;
}
.events-section > .current-events > p > a {
  text-decoration: none;
}

/*-----------------------------------------------------------------Images Page*/

.image-section {
  text-align: center;
  height: auto;
  padding-bottom: 40px;
}

.image-section > h1 {
  font-family: "Ultra", sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.8em;
}

.image {
  padding-top: 20px;
}

.modal-body {
  padding: 0;
}

.modal {
    padding-right: 0px !important;
}

button.close {
  color: red;
  font-size: 2em;
  padding-right: 10px;
}


/*------------------------------------------------------------------Audio Page*/

.audio-section {
  padding-top: 70px;
  text-align: center; 
}

.audio-heading > h1 {
  font-family: "Ultra", sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.8em;
}

.audio-heading {
  padding-bottom: 20px;
}

.audio-item {
  padding-bottom: 50px;
}

/*------------------------------------------------------------------Video Page*/

.video-section {
  margin-top: 50px;
  padding-bottom: 50px;
}

.video-item > h3 {
  text-align: center;
}

video {
  width: 100%;
  height: auto;
}

/*-------------------------------------------------------------------Band Page*/

.band-heading > h1 {
  font-family: "Ultra", sans-serif;
  padding-top: 20px;
}

.band-main {
  padding-bottom: 10px;
}

.band-main > img {
  margin: 0px;
  width: 120px;
  height: 100px;
}

.band-no-show1,
.band-no-show2 {
  display: none;
}

.band-member {
  margin-top: 10px;
}

/*----------------------------------------------------------------Contact Page*/

.contact-section {
  margin-top: 25px;
  text-align: center;
}

.contact-section > h1 {
    font-family: "Ultra", sans-serif;
    padding-bottom: 12px;
  }
  
.red-star {
  font-weight: 900;
  color: red;
}

/*============================================================================*/

/*---------------------------------------------------------------Media Queries*/

@media screen and (min-width: 258px) {
  .navbar-brand > img {
    height: 200%;
  }
}

@media screen and (min-width: 320px) {
  .navbar-brand > img {
    padding-left: 30px;
  }

}

@media screen and (min-width: 401px) {
  .footer {
    height: 60px;
  }

}

@media screen and (min-width: 768px) {
  .navbar-brand > img {
    height: 200%;
    padding-left: 0;
    position: absolute;
    z-index: 1;
  }
  .footer-right {
    text-align: right;
    padding-top: 15px;
  }
  .footer-left {
    text-align: left;
    padding-top: 15px;
  }
  .main-section {
    /*Just Incase*/
  }

  body > main > .home-splash1 {
    background: url("assets/images/home-splash1-768.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .news-item {
    padding-bottom: 30px;
  }
  .band-no-show1 {
    display: block;
  }
  .disc-page {
    margin: auto;
    width: 78%;
  }
  .cd-cover {
  padding-left: 0px;
  padding-right: 0px;
  width: 340px;
  height: 340px;
}
.main-section.events-section {
    height: 100vh;
  }
  .current-events {
    height: 100vh;
  }
  .img-thumbnail {
  min-height: 350px;
}

}

@media screen and (min-width: 992px) {
  .navbar-brand > img {
    height: 300%;
    padding-left: 0px;
    margin-right: 60px;
  }
  
  body > main > .home-splash1 {
    background: url("assets/images/home-splash1-wide.jpg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
  }

  .menu-change {
    padding-right: 74px;
  }

  .main-section.news-section {
    margin-top: 0px;
    padding-top: 50px;
  }
  .news-item {
    padding-bottom: 40px;
  }

  .band-no-show2 {
    display: block;
  }
  .main-section.news-section, .main-section.events-section {
    margin-top: 0px;
    padding-top: 50px;
    background-image: url("assets/images/news-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .image-thumb {
  height: auto;
  max-width: 300px;
}
.image-section > div {
    padding-left: 0px;
    padding-right: 0px;
}

}

/**/

/**/

/**/
