@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*============================================================================*/

/*-----------------------------------------------------------Whole Page Tweaks*/

.container {
  max-width: 1024px;
}

body {
  font-family: 'Roboto', sans-serif;
}


/*----------------------------------------------------------------------Colors*/

html, body {
  background-color: #FAFAE6;
  height:100%
}


/*============================================================================*/

/*---------------------------------------------------------------Header Tweaks*/

.top-menu {
  -webkit-box-shadow: 0 6px 4px -4px #999;
  -moz-box-shadow: 0 6px 4px -4px #999;
  box-shadow: 0 6px 4px -4px #999;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  position: absolute;
  z-index: 1;
  height: 150%;
  filter: drop-shadow(0px 0px 6px rgba(58, 136, 164, 0.9));
}

.nav-item {
  border-left: 1px solid #CCCCCC;
  position: relative;
  z-index: 0;
}

.btn-right-border {
  border-right: 1px solid #CCCCCC;
}

#navbar1 {
  text-align: right;
  font-weight: 100;
  font-size: 14px;
  color: #3A88A4;
}
#navbar1 > ul > li.nav-item.active > a {
  position: relative;
  z-index: 0;
}

.navbar-header > a {
  animation-delay: .5s;
}

#navbar1 > ul > li > ul > li > a {
  text-align: right;
  font-weight: 200;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
  background-color: #E7E7E7;
  color: black;
}


/*---------------------------------------------------------------Footer Tweaks*/

.footer-right {
  text-align: center;
}

.footer-left {
  padding-top: 5px;
}

.social-links {
  font-size: 1.5em
}

.footer {
  -webkit-box-shadow: 10px 10px 8px 10px #999;
  -moz-box-shadow: 10px 10px 8px 10px #999;
  box-shadow: 10px 10px 8px 10px #999;
  font-weight: 400;
}

.footer-left > ul > li > a {
  text-decoration: none;
  color: #3A88A4;
}

.footer-right > ul > li > a {
  text-decoration: none;
  color: #3A88A4;
}


/*============================================================================*/

/*------------------------------------------------------------Home Page Tweaks*/

body > main {
  padding:0;
  margin: 0;
}

body > main > .home-background {
  background: url("/assets/images/background_768.png");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 99vw;
}

body > main > .home-section-one {
  padding: 0;
}

body > main > .home-section-two {
  height: 100vh;
}

/*-----------------------------------------------------------------News Tweaks*/
/*----------------------------------------------------------Discography Tweaks*/
/*-----------------------------------------------------Events/Functions Tweaks*/
/*----------------------------------------------------------Images Page Tweaks*/
/*-----------------------------------------------------------Audio Page Tweaks*/
/*-----------------------------------------------------------Video Page Tweaks*/
/*------------------------------------------------------------Band Page Tweaks*/
/*--------------------------------------------------------------Contact Tweaks*/


/*============================================================================*/

/*---------------------------------------------------------------Media Queries*/

@media screen and (min-width: 258px) {
  .navbar-brand > img {
    height: 200%;
  }
}

@media screen and (min-width: 320px) {
  .navbar-brand > img {
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand > img {
    height: 140%;
    padding-left: 0;
  }
  .footer-right {
    text-align: right;
    padding-top: 15px;
  }
  .footer-left {
    text-align: left;
    padding-top: 15px;
  }
  .main-section {
    /*Just Incase*/
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand > img {
    height: 300%;
    padding-left: 0px;
    margin-right: 60px;
  }
  .main-section {
    /*Just Incase*/
  }
  .menu-change {
    padding-right: 74px;
  }
}


/**/

/**/

/**/
